<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        input{
            position: absolute;left: 12%;
        }
        form{
            padding-left: 12px;
            padding-top: 12px;
        }
    </style>
    <title>New User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username"><br><br>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password"><br><br>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name"><br><br>
    <label for="lastName">Last Name</label>
    <input type="text" th:field="*{lastName}" id="lastName"><br><br>
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age"><br><br>
   <label for="role">Role
<ul>
    <li th:each="role:${allRoles}">
        <input id="role" type="checkbox" name="roles" th:field="*{roles}" th:value="${role.id}" th:text="${role.name}">
    </li>
</ul>
   </label> <br><br>
    <input type="submit" value="CREATE">

</form>
</body>
</html>