<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>All Users</title>
</head>
<body>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col">Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user:${users}">
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getUsername()}"/>
        <td th:text="${user.getPassword()}"/>
        <td th:text="${user.getName()}"/>
        <td th:text="${user.getLastName()}"/>
        <td th:text="${user.getAge()}"/>
        <td th:text="${user.getRoles()}"/>
        <td>
            <form th:method="GET" th:action="@{/admin/{id}/edit (id=${user.getId()})}" th:object="${user}">
                <input type="submit" value="EDIT">
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/{id} (id=${user.getId()})}" th:object="${user}">
                <input type="submit" value="DELETE">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<form th:method="GET" th:action="@{/admin/new}">
    <input type="submit" value="ADD USER">
</form>
<form th:action="@{/logout}" method="get">
    <input type="submit" value="Logout">
</form>
</body>
</html>